external_libs
utils/_temp.py
__dino_loss.py
copy_files.sh
main_dbg.py
output
temp.py
umap_plot/
simclr_cataracts.zip
jobs
jobs/*
slurms/**/*.log
results/archive_results/
.ipynb_checkpoints
configs/config/priority/*
slurms/*.log
test_run.zip
visualization
cataract_moco.zip
*.DS_Store
ftpconfigs
.ftp*
core.*
slurm-*
compiled_libs
jobs/slurm_out
configs/config/default_aug.yaml
configs/config/rand_aug_imgnet.yaml
configs/config/rand_aug_surgery.yaml
slurms/hpc_v100/util_scripts/*.log
runs
datasets
d.sh
exps
main_debug.py
vissl/*
checkpoints
*.jpg
*.txt
*.mp4
*.mkv
_feature_blocks
bbox-baselines/unbiased-teacher/models
# compilation and distribution
__pycache__
_ext
*.pyc
*.so
AdelaiDet.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.vscode
.python-version

# project dirs
/datasets/h36m_train
/datasets/coco
/datasets/lvis
/datasets/cityscapes
/models
/debug
/weights
extra
extra/*
!vissl/vissl/data/__init__.py
!vissl/vissl/data/ssl_dataset.py
!vissl/configs/config/quick_1gpu_resnet50_simclr.yaml
!vissl/vissl/data/disk_dataset_surgery.py
!vissl/vissl/trainer/train_steps/custom_train_step_surgery.py
