resnet50-19c8e357.pth
moco_v2_800ep_pretrain.pth.tar
simclr_rn50_800ep_simclr_8node_resnet_16_07_20.7e8feed1.torch
swav_in1k_rn50_800ep_swav_8node_resnet_27_07_20.a0a6b676.torch
dino_resnet50_pretrain.pth